{% load static %}
<div class='issue'>
    <h2>Issue which are not redressal</h2>
    <ul>
      <ul>
      <li>
        RTI matters
      </li>
      <li>
        Court related/Subjudic
      </li>
      <li>
        Religious matters
      </li>
      <li>
        Suggestion
      </li>
      <li>
        Service matters of Govt. employee
      </li>
    </ul>
    </ul>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>